body{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#liste-niveau{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
}

.lienA{
    transition: 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: kenvector_future_thin;
    background-color: rgb(228, 230, 255);
    border-color: black;
    color: black;

    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.lienA:hover{
    transition: 0.2s;
    background-color: rgb(242, 243, 255);
}

.lienA:active{
    transition: 0.2s;
    background-color: rgb(211, 211, 212);
}

.textePiece, .texteTemps{
    position: absolute;
    font-size: 0.8rem;   
}

.lienABloquer, .lienABloquer:hover, .lienABloquer:active {
    background-color: rgb(181, 181, 181);
    cursor: default;
}

.textePiece{
    top:-0.7rem;
}
.texteTemps{
    top:0.4rem;
}

.textePiece::before{
    content: "⭐";
}

.texteTemps::before{
    content: "⏱️";
}


.cacherStatistiques .textePiece::before, .cacherStatistiques .texteTemps::before{
    content: "";
}