@import "police.css";
@import "objet.css";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow-x : hidden;
    overflow-y :hidden;
}

h1{
    font-family: kenvector_future_thin;
}


#scenneDuJeu{
    z-index: -20;
    top:80px;
    position: absolute;
    width: 500px;
    aspect-ratio: 1/1;
    border: solid;
    border-radius: 12px;
    background-color: rgb(239, 239, 239);
    margin-bottom: 100px;
}

/* ------------- */

#fondPerdu{
    background-color: rgba(0, 0, 0, 0.519);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    padding-top: 80px;
}

.scenneDuJeuDimansion{
    z-index: 0;
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    border: solid 0px;
    border-radius: 12px;
    margin-bottom: 100px;
}

#boutonJouer{
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 2px;
    border-radius: 50%;
    font-size: 1.2rem;
}

#boutonJouer:hover{
    background-color: aqua;
    cursor:none;
}

#boutonMusique{
    transition: 0.2s;
    background-color: rgb(255, 230, 250);
    border: solid rgb(209, 125, 125) 1.5px;
    box-shadow: 2px 2px rgb(209, 125, 125);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top:20px;
    user-select: none;
}

#boutonMusique:hover{
    transition: 0.2s;
    background-color: rgb(255, 195, 243);
    box-shadow: 1px 1px rgb(209, 125, 125);
    transform: translateX(1px) translateY(1px);
}

#boutonMusique:active{
    transition: 0.2s;
    background-color: rgb(255, 164, 237);
    box-shadow: 0px 0px rgb(209, 125, 125);
    transform: translateX(2px) translateY(2px);
}

.boutonMusiqueActif{
    background-color: rgb(225, 255, 195) !important;
    border-color: rgb(136, 209, 125) !important;
    box-shadow: 1px 1px rgb(136, 209, 125) !important;
}

.boutonMusiqueActif:hover{
    background-color: rgb(199, 237, 160) !important;
    border-color: rgb(136, 209, 125) !important;
    box-shadow: 1px 1px rgb(136, 209, 125) !important;
}

.boutonMusiqueActif:active{
    background-color: rgb(180, 245, 115) !important;
    border-color: rgb(136, 209, 125) !important;
    box-shadow: 1px 1px rgb(136, 209, 125) !important;
}