@font-face {
    font-family : kenvector_future;
    src: url(/image/kenney_space-shooter-remastered/Bonus/kenvector_future.ttf);
}

@font-face {
    font-family : kenvector_future_thin;
    src: url(/image/kenney_space-shooter-remastered/Bonus/kenvector_future_thin.ttf);
}